:root {
  --allheight: 7.8em;
  --allwidth: 9.5em;
  --fsize: 2em;
}

html {
  background-color: transparent !important;
  overflow: hidden;
}

body {
  margin: 0px;
  font-size: var(--fsize);
}

#app {
  color: darkred;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
}

#clock {
  font-family: fontSetting;
  text-align: center;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.bg {
  background-color: wheat;
  border-radius: 2em;
  box-shadow: inset 0px 0px 1em 0.5em rgb(238, 204, 142);
}

@font-face {
  font-family: fontSetting;
  src: url(../font/jf-openhuninn-1.1.ttf) format("truetype");
}