<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./css/tocas.min.css">
  <link rel="stylesheet" href="./css/clock.css">
  <link rel="stylesheet" href="./css/coloris.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link id="fontLink" rel="stylesheet" href="">
  <script src="./js/moment.js"></script>
  <script src="./js/coloris.min.js"></script>
  <title>時鐘</title>

</head>

<body>
  <div id="app" :style="marginSetting" v-on:keyup.escape="closeModel">

    <div id="clock" :style="clockStyle">
      <span :style="fontStyle">
        <div>{{time.format('MM.DD ddd')}}</div>
        <div>{{time.format('HH:mm:')}}<span id="sec">{{time.format('ss')}}</span>
        </div>
      </span>
      <div borderSetting :style="borderStyle"></div>
      <div bgSetting :style="bgStyle"></div>
    </div>
    <div id="userCtrl">
      <button class="ts-button" v-on:click="openModel">樣式設定</button>
      <button class="ts-button" v-on:click="openFontModel">字型設定</button>
      <button class="ts-button" v-on:click="removeCookie">清除存檔</button>
      <div class="ts-modal" :class="settingModal">
        <div class="content">
          <div class="ts-content">
            <div class="ts-content is-dense modelTitle">
              <div class="ts-header">樣式設定</div>
              <div class="ts-header closeIcon" v-on:click="openModel"></div>
            </div>
            <div class="ts-divider"></div>
            <div class="ts-space"></div>
            <!-- <div class="ts-input is-fluid ts-file is-start-labeled ">
              <span textNowrap class="label" >讀取檔案</span>
              <input type="file">
            </div>
            <div class="ts-space"></div>
            <div class="ts-divider"></div>
            <div class="ts-space"></div> -->
            <div class="settingSet">
              <label class="ts-switch">
                <input type="checkbox" v-on:change="saveCookie" v-model="rootStyle.marginSwitch" />
                <span>外距調整 (危險功能)</span>
              </label>
            </div>
            <div class="settingSet" v-show="rootStyle.marginSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">外部間距</span>
                <input v-on:input="saveCookie" type="range" min="0" max="100" step="1"
                  v-model="rootStyle.marginSetting">
              </div>
            </div>
            <div class="settingSet">
              <label class="ts-switch">
                <input type="checkbox" v-on:change="checkWeekType" v-model="momentSwitch" />
                <span>星期樣式</span>
              </label>
            </div>
            <div class="settingSet" v-show="momentSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">星期樣式</span>
                <input v-on:input="changeWeekdaysSetting" type="text" v-model="weekList">
              </div>
            </div>
            <div class="settingSet">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">整體寬度</span>
                <input v-on:input="saveCookie" type="range" min="4" max="30" step="1" v-model="rootStyle.width">
              </div>
            </div>
            <label class="ts-switch">
              <input type="checkbox" v-on:change="saveCookie" v-model="rootStyle.padSwitch" />
              <span>內距切換</span>
            </label>
            <div class="settingSet" v-show="!rootStyle.padSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">內部間距</span>
                <input v-on:input="saveCookie" type="range" min="0" max="100" step="1" class="ts-butto"
                  v-model="rootStyle.padding">
              </div>
            </div>
            <span v-show="rootStyle.padSwitch">
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">內部間距．上</span>
                  <input v-on:input="saveCookie" type="range" min="0" max="100" step="1" class="ts-butto"
                    v-model="rootStyle.padTop">
                </div>
              </div>
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">內部間距．右</span>
                  <input v-on:input="saveCookie" type="range" min="0" max="100" step="1" class="ts-butto"
                    v-model="rootStyle.padRight">
                </div>
              </div>
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">內部間距．下</span>
                  <input v-on:input="saveCookie" type="range" min="0" max="100" step="1" class="ts-butto"
                    v-model="rootStyle.padButtom">
                </div>
              </div>
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">內部間距．左</span>
                  <input v-on:input="saveCookie" type="range" min="0" max="100" step="1" class="ts-butto"
                    v-model="rootStyle.padLeft">
                </div>
              </div>
            </span>
            <div class="settingSet">
              <div class="circle ctrlText ts-input is-start-labeled">
                <span textNowrap class="label">文字顏色</span>
                <input v-on:input="saveCookie" type="text" placeholder="文字顏色" class="ts-button coloris colorInterFace"
                  v-model="rootStyle.fontColor">
              </div>
            </div>
            <div class="settingSet">
              <div class="circle ctrlText ts-input is-start-labeled">
                <span textNowrap class="label">背景顏色</span>
                <input v-on:input="saveCookie" type="text" placeholder="背景顏色" class="ts-button coloris colorInterFace"
                  v-model="style.bgColor">
              </div>
            </div>
            <div class="ts-selection">
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="solid" name="borderStyle" checked
                  v-model="style.border.borderStyle" />
                <div class="text">實線</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="hidden" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">隱藏</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="dotted" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">圓點</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="dashed" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">虛線</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="double" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">雙實線</div>
              </label>
            </div>
            <div class="ts-selection">
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="groove" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">雕刻</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="ridge" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">浮雕</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="inset" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">陷入</div>
              </label>
              <label class="item">
                <input v-on:change="saveCookie" type="radio" value="outset" name="borderStyle"
                  v-model="style.border.borderStyle" />
                <div class="text">凸出</div>
              </label>
            </div>
            <div class="settingSet">
              <div class="circle ctrlText ts-input is-start-labeled">
                <span textNowrap class="label">框線顏色</span>
                <input v-on:input="saveCookie" type="text" placeholder="框線顏色" class="ts-button coloris colorInterFace"
                  v-model="style.border.borderColor">
              </div>
            </div>
            <div class="ctrlText ts-input is-labeled">
              <span textNowrap class="label">框線圓角</span>
              <input v-on:input="saveCookie" type="range" min="1" max="50" value="1" step="1"
                v-model="style.border.borderRadius">
            </div>
            <label class="ts-switch">
              <input type="checkbox" v-on:change="saveCookie" v-model="style.borderSwitch" />
              <span>框線切換</span>
            </label>
            <div class="settingSet" v-show="!style.borderSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">框線尺寸</span>
                <input v-on:input="saveCookie" type="number" placeholder="框線尺寸" v-model="style.border.borderSize">
                <span class="label">px</span>
              </div>
            </div>
            <span v-show="style.borderSwitch">
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">上框線</span>
                  <input v-on:input="saveCookie" type="number" min="0" v-model="style.border.top">
                  <span class="label">px</span>
                </div>
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">下框線</span>
                  <input v-on:input="saveCookie" type="number" min="0" v-model="style.border.bottom">
                  <span class="label">px</span>
                </div>
              </div>
              <div class="settingSet">
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">左框線</span>
                  <input v-on:input="saveCookie" type="number" min="0" v-model="style.border.left">
                  <span class="label">px</span>
                </div>
                <div class="ctrlText ts-input is-labeled">
                  <span textNowrap class="label">右框線</span>
                  <input v-on:input="saveCookie" type="number" min="0" v-model="style.border.right">
                  <span class="label">px</span>
                </div>
              </div>
            </span>
            <div class="ts-space"></div>
            <div class="ts-center is-tertiary">
              <div class="column is-8-wide">
                <button class="ts-button" v-on:click="openModel">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts-modal" :class="fontModel">
        <div class="content">
          <div class="ts-content">
            <div class="ts-content is-dense modelTitle">
              <div class="ts-header">字型設定</div>
              <div class="ts-header closeIcon" v-on:click="openFontModel"></div>
            </div>
            <div class="ts-divider"></div>
            <div class="ts-space"></div>
            <div class="settingSet">
              <label class="ts-switch">
                <input type="checkbox" v-on:change="fontDefault" v-model="fontSetting.fontSwitch" />
                <span>開啟自訂字型 (關閉返回預設值)</span>
            </div>
            <div class="settingSet" v-show="fontSetting.fontSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">字型網址</span>
                <input type="text" placeholder="輸入字型網址" v-model="fontInputUrl" v-on:keyup.enter="changeFont">
              </div>
            </div>
            <div class="settingSet" v-show="fontSetting.fontSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">字型樣式</span>
                <input type="text" placeholder="輸入字型樣式" v-model="fontInputFamily" v-on:keyup.enter="changeFont">
              </div>
            </div>
            <div class="settingSet" v-show="fontSetting.fontSwitch">
              <div class="ctrlText ts-input is-labeled">
                <span textNowrap class="label">目前使用字型樣式</span>
                <input type="text" v-model="fontSetting.fontFamily" disabled>
              </div>
            </div>
            <div class="settingSet" v-show="fontSetting.fontSwitch">
              <div class="ctrlText is-labeled">
                <div>設定使用教學</div>
                <div>範例:Noto Serif Traditional Chinese</div>
                <div class="ts-list is-unordered">
                  <div class="item">前往 <a href="https://fonts.google.com" target="_blank"
                      rel="noopener noreferrer">Google Fonts</a> 挑選喜歡的字型</div>
                  <div class="ts-image">
                    <img src="./img/step0.png" alt="挑選字型" title="挑選字型">
                  </div>
                  <div class="item">複製圖中選取的網址</div>
                  <div class="ts-image">
                    <img src="./img/step1.png" alt="複製選取的網址" title="複製選取的網址">
                  </div>
                  <div class="item">將網址貼入 字型網址 的空格</div>
                  <div class="item">複製途中選取的字型樣式</div>
                  <div class="ts-image">
                    <img src="./img/step2.png" alt="複製選取的樣式" title="複製選取的樣式">
                  </div>
                  <div class="item">將樣式貼入 字型樣式 的空格</div>
                  <div class="item">按下 Enter 可以直接套用</div>
                  <div class="item">如果找不到選擇的字型，可以在右上角開啟</div>
                  <div class="ts-image">
                    <img src="./img/step3.png" alt="選擇的字型" title="選擇的字型">
                  </div>
                </div>
              </div>
            </div>
            <div class="ts-space"></div>
            <div class="ts-center is-tertiary">
              <div class="column is-8-wide">
                <button class="ts-button" v-on:click="openFontModel">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cc">
      <div class="ts-notice is-outlined">
        <div class="title">
          <a target="_blank" href="https://twitter.com/LunAh_Eric" style="vertical-align:middle;"> {{time.format('YYYY')}} @LunAh_Eric </a>
        </div>
        <div class="content cc-cont">
          <div class="ts-image is-rounded ">
            <img src="./img/Cc_by-nd_icon.svg" alt="cc">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/vue.js"></script>
  <script src="./js/vue-cookies.js"></script>
  <script src="./js/vue-toastr.umd.min.js"></script>
  <script src="./js/clock.js"></script>
  <script src="./js/colorPick.js"></script>
</body>

</html>