:root {
  --allheight: 2.38em;
  --allwidth: 4.75em;
  --fsize: 10vmax;
}

html {
  background-color: transparent !important;
  overflow: hidden;
}

body {
  font-size: var(--fsize);
  margin: 0px;
}

#app {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
}

#clock {
  font-family: fontSetting;
  text-align: center;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#sec {
  font-size: 0.75em;
}

@font-face {
  font-family: fontSetting;
  src: url(../font/Cubic_11_1.000_R.ttf) format("truetype");
}