:root {
  --allheight: 2.38em;
  --allwidth: 4.75em;
  --fsize: 5em;
}

html {
  background-color: transparent !important;
}

body {
  font-size: var(--fsize);
  margin: 0px;
}

#app {
  /* position: relative; */
  width: var(--allwidth);
  padding: 0px;
}

#clock {
  /* position: absolute; */
  font-family: fontSetting;
  text-align: center;
}

#sec {
  font-size: 0.75em;
}

@font-face {
  font-family: fontSetting;
  src: url(../font/Cubic_11_1.000_R.ttf) format("truetype");
}