html {
  background-color: transparent !important;
}
body{
  overflow: hidden;
}

#gauge.is-usersize {
  --size: 25rem;
  color: var(--ts-negative-400);
}

#gauge {
  --thickness: calc(var(--size) / 30);
  /* position: relative; */
}

#gauge .bar::before {
  transition: 1s;

}

#gaugeText {
  color: rebeccapurple;
  font-family: fontSetting !important;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;

}

#box {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 1rem .5rem 1rem 0.5rem inset var(--ts-primary-400);
  transition: 1s;
  animation: boxAnimat 6s infinite linear reverse;
}

@keyframes boxAnimat {
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: fontSetting;
  src: url(../font/timemachine-wa.ttf) format("truetype");
}