:root {
  --allheight: 2em;
  --allwidth: 10em;
  --cerSize: 10em;
  --imgSize: 2em;
  --littleboxSize: 2rem;
  --fsize: 2em;
}

html {
  background-color: transparent !important;
  overflow: hidden;
}

body {
  font-weight: bold;
  margin: 0px;
  font-size: var(--fsize);
}

#app {
  color: slateblue;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  --w: 4;
  --h: 3;
}

#app::before {
  content: '';
  width: 100%;
  /* padding-top: calc(var(--h) * 100% / var(--w)); */
  padding-top: 6em;
  display: block;
}

#clock {
  z-index: 7;
  font-family: fontSetting;
  text-align: center;
  width: 100%;
  height: 50vh;
  position: absolute;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#cirbox {
  width: 100%;
  margin: auto;
  position: absolute;
  position: relative;
}

#cir {
  color: palevioletred;
  position: absolute;
  border: 0.5em;
  border-style: dashed;
  border-top: 1em;
  border-radius: 100%;
  width: var(--cerSize);
  height: var(--cerSize);
  top: -2.2em;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#littlebox {
  position: absolute;
  width: var(--littleboxSize);
  height: var(--littleboxSize);
  background-color: red;
  border: 10px solid darkred;
  transform: rotate(45deg);
  top: -10em;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@font-face {
  font-family: fontSetting;
  src: url(../font/timemachine-wa.ttf) format("truetype");
}