:root {
  --allheight: 2em;
  --allwidth: 10em;
  --cerSize: 10em;
  --fsize: 2em;
}

html {
  background-color: transparent !important;
}

body {
  font-size: var(--fsize);
  font-weight: bold;
  margin: 0px;
  width: 15.5em;
  height: 15.5em;
  overflow: hidden;
}

#app {
  position: relative;
  color: slateblue;
  padding: 0.7em;
  width: var(--allwidth);
  height: var(--allheight);
  top: 6em;
  left: 2.2em;
}

#cir {
  position: absolute;
  width: var(--cerSize);
  height: var(--cerSize);
  border: 0.5em;
  border-style: dashed;
  border-top: 1em;
  border-radius: 100%;
  top: -3.5em;
  left: 0em;
}

#tt {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: red;
  border: 10px solid darkred;
  transform: rotate(45deg);
  left: 4.2em;
  top: -2em;
}

.img {
  position: relative;
  left: 10px;
  top: 5px;
}

img {
  width: 72px;
  height: 72px;
}

#clock {
  position: absolute;
  font-family: fontSetting;
  text-align: center;
  top: 0.87em;
  left: 3.5em;
}

@font-face {
  font-family: fontSetting;
  src: url(../font/timemachine-wa.ttf) format("truetype");
}